#wrapper{
    margin: auto;
    width: 900px;
    text-align: center ;
}
h2{
    font-family: Arial;

}
.aap{
    text-decoration: none;
    color: rgb(255, 132, 0);
    font-family: 'Bangers', cursive;
    margin-right: 0px;
    font-size: 38px;
}
